@page "/login"
@rendermode InteractiveServer
@using Webstore.Models.ViewModels



<EditForm Model="@starship" OnSubmit="@HandleValidSubmit" FormName="starship_fluent_entry">
    <DataAnnotationsValidator />
    <FluentValidationSummary />


    <FluentStack Orientation="Orientation.Vertical">
        <div>
            <FluentTextField Name="username" @bind-Value="starship!.Username" Label="Username" Required />
            <FluentValidationMessage For="@(() => starship.Username)" />
        </div>
        <div>
            <FluentTextField Name="password" @bind-Value="starship!.Password" Label="password" Required />
            <FluentValidationMessage For="@(() => starship.Password)" />
        </div>
        
        <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Submit</FluentButton>
    </FluentStack>
</EditForm>


@code {

    [SupplyParameterFromForm]
    private LoginViewModels starship { get; set;}


    protected override void OnInitialized() => starship ??= new();


    string LastSubmitResult;

    public Login()
    {
    }

    private void HandleValidSubmit()
    {
        var user = starship.Username;

        // Process the valid form
    }
}
