@page "/login"
@using Webstore.Models.ViewModels
@rendermode InteractiveServer


<EditForm Model="logins" FormName="logins_fluent_entry" OnValidSubmit="HandleValidSubmitAsync">
    <DataAnnotationsValidator />
    <FluentValidationSummary />

    

    <FluentStack Orientation="Orientation.Vertical">
        <div>
            <FluentTextField Name="username" @bind-Value="logins!.Username" Label="Username" Required />
            <FluentValidationMessage For="@(() => logins.Username)" />
        </div>
        <div>
            <FluentTextField Name="password" @bind-Value="logins!.Password" Label="password" Required />
            <FluentValidationMessage For="@(() => logins.Password)" />
        </div>
        <div>
        <h1>Hello, @(userService.GetUser().Identity?.Name ?? "world")!</h1>
       </div>>
        <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Submit</FluentButton>
    </FluentStack>
</EditForm>



