@page "/login"
@rendermode InteractiveServer
@using Webstore.Models.ViewModels



<EditForm Model="@logins" OnSubmit="@HandleValidSubmit" FormName="logins_fluent_entry">
    <DataAnnotationsValidator />
    <FluentValidationSummary />


    <FluentStack Orientation="Orientation.Vertical">
        <div>
            <FluentTextField Name="username" @bind-Value="logins!.Username" Label="Username" Required />
            <FluentValidationMessage For="@(() => logins.Username)" />
        </div>
        <div>
            <FluentTextField Name="password" @bind-Value="logins!.Password" Label="password" Required />
            <FluentValidationMessage For="@(() => logins.Password)" />
        </div>
        
        <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Submit</FluentButton>
    </FluentStack>
</EditForm>


@code {

    [SupplyParameterFromForm]
    private LoginViewModels logins { get; set;}


    protected override void OnInitialized() => logins ??= new();


    string LastSubmitResult;

    public Login()
    {
    }

    private void HandleValidSubmit()
    {
        var user = logins.Username;

        // Process the valid form
    }
}
